.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  width: 1440px;
  height: 810px;
  justify-content: center;
  align-items: center;
  background: var(--Dark-Blue, #202733);
  margin: 0 auto;
  width: 100%;
}

.advice-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 540px;
  height: 332px;

  border-radius: 15px;
  background: var(--Dark-Grayish-Blue, #313a48);
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1 {
  color: var(--Neon-Green, #53ffaa);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Heading */
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4.086px;
  margin-top: 58px;
}

.advice-section p {
  color: var(--Light-Cyan, #cee3e9);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Quote */
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.3px;
}

.svg-container {
  cursor: pointer;
}

.svg-container svg {
  vertical-align: middle;
}

p {
  width: 440px;
  min-height: 70px;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .advice-section {
    width: 343px;
    height: 315px;
    flex-shrink: 0;
  }

  .advice-section h1 {
    color: var(--Neon-Green, #53ffaa);
    text-align: center;
    font-family: Manrope;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.457px;
  }

  .advice-section p {
    color: var(--Light-Cyan, #cee3e9);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.257px;
  }

  .hidden {
    display: block;
  }

  .show {
    display: none;
  }

  p {
    width: 295px;
  }
}
