.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141d2f;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.devfinder {
  color: #fff;
  width: 730px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tag {
  color: #0079ff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}

h1 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3,
.tag,
p,
input {
  font-family: "Space Mono", monospace;
}

.top p {
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
}

.search-bar,
.information {
  background-color: #1e2a47;
  border-radius: 15px;
}

.name-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.numbers-information {
  display: flex;
  flex-direction: row;
  background-color: #141d2f;
  justify-content: space-around;
  border-radius: 10px;
  width: 480px;
}

.info-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  width: 480px;
}

.search-bar {
  height: 69px;
}

.info-tags div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.profile-picture {
  width: 117px;
  height: 117px;
  flex-shrink: 0;
  border-radius: 117px;
}

.not-available {
  opacity: 0.75;
}

.information {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 3fr;
  height: 444px;
}

.profile-picture {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 48px;
}

.name-bio {
  grid-column: 2 / 3;
}

.numbers-information {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  justify-self: end;
  margin-right: 48px;
}

.joined {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  margin-right: 48px;
  margin-top: 48px;
}

.info-tags {
  grid-column: 2 / 4;
}

.name-bio a {
  margin-bottom: 60px;
}

h1 {
  margin: 0;
}

.info-tags {
  display: grid;
  grid-template-columns: 2fr;
  grid-row: 2fr;
  margin-left: 5px;
}

.location {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.twitter {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.twitter,
.company {
  justify-self: start;
  margin-right: 55px;
}

/* Search button field */

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #141d2f;
  border-radius: 15px;
}

.left-image {
  margin-right: 10px;
}

.stretch-input {
  flex: 1;
  border: none;
  outline: none;
  background-color: #1e2a47;
}

.search-button {
  border-radius: 10px;
  background: #0079ff;
  outline: none;
  border: none;
  width: 106px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  cursor: pointer;
}

input {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.not-found {
  margin-right: 15px;
}
